.bg-nav{
    background-color: #FFFFFF;
}
.text-nav{
    color: #0B2A4A;
}
.primary-btn{
    color: #F58220;
    background-color: #0B2A4A;
}
.primary-btn:hover{
    color: #0B2A4A;
    background-color: #F58220;
}
.page-bg{
    background-color: #a5bfe6;
}
.bg-images{
    background-image: url(../images/cover_pic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}