header {
    position: sticky;
}

.bg-nav {
    background-color: #FFFFFF;
}

.text-nav {
    color: #F58220;
}

.nav-link:hover {
    color: #F58220;
    background-color: #0B2A4A;
    border: 2px solid #F58220;
    padding-top: 2px;
    padding-bottom: 2px;
}

.active-menu{
    color: #F58220;
    background-color: #0B2A4A;
    border: 2px solid #F58220;
    padding-top: 2px;
    padding-bottom: 2px;
}


.primary-btn {
    color: #F58220;
    background-color: #0B2A4A;
}

.primary-btn:hover {
    color: #0B2A4A;
    background-color: #F58220;
}

.page-bg {
    background-color: #a5bfe6;
}