header {
    position: sticky;
}

.bg-nav {
    background-color: #FFFFFF;
}

.text-nav {
    color: #F58220;
}

.nav-link:hover {
    color: #F58220;
    background-color: #0B2A4A;
    border: 2px solid #F58220;
    padding-top: 2px;
    padding-bottom: 2px;
}

.active-menu{
    color: #F58220;
    background-color: #0B2A4A;
    border: 2px solid #F58220;
    padding-top: 2px;
    padding-bottom: 2px;
}

/* .section-bg{
    background-color: #0B2A4A;
} */

.section-text{
    color: #F58220;
}
.section-primary-btn {
    color: #0B2A4A;
    background-color: #F58220;
}

.section-primary-btn:hover {
    color: #F58220;
    background-color: #0B2A4A;
    border: 4px solid #F58220;
}

.primary-btn {
    color: #F58220;
    background-color: #0B2A4A;
}

.primary-btn:hover {
    color: #0B2A4A;
    background-color: #F58220;
}

.page-bg {
    background-color: #0B2A4A;
}

.card{
    background-color: #F58220;
    color: #0B2A4A;
}

.card:hover{
    background-color: #0B2A4A;
    color: #F58220;
    border: 4px solid #F58220;
}